<div class="wrapper col-lg-12">
  <div class="image-holder col-lg-6"></div>
  <div class="login-container col-lg-6">
    <div class="button-container">
      <button routerLink="/login" mat-button type="submit">Login</button>
      <button routerLink="/createaccount" mat-button type="submit">
        Create an account
      </button>
    </div>

    <div class="form-container">
      <h4 class="text">
        Search your account in
        <span class="text-themecolor">Covenant Management </span>
      </h4>

      <form
        class="form-horizontal form-material"
        [formGroup]="addressForm"
        (ngSubmit)="login()"
      >
        <!--Champs Email  -->
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> <i class="mdi mdi-email-outline"></i> Email </mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="test@gmail.com"
            required
          />
          <mat-error *ngIf="form['email'].touched">
            <span *ngIf="form['email'].hasError('required')"
              >Required.</span
            >
            <span *ngIf="form['email'].hasError('minLength')"
              >Wrong input.</span
            >
          </mat-error>
        </mat-form-field>

        <button class="login-button" mat-button type="submit">
          Recover my account
        </button>
      </form>
    </div>
  </div>
</div>
