<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-xlg-12">
      <div class="card">
        <div class="card-body">
          <div class="mat-elevation-z8">
            <form
              class="form-horizontal form-material"
              [formGroup]="createForm"
              (ngSubmit)="createForm.valid && create()" novalidate>
              <br><br>

              <div class="row">
                <div class="col-md-6">
                <!--Les boutons-->
                <div>
                  <h3 class="menu-title">Add New Condition</h3>
                </div>
                <br><br><br>
                </div>
                <div class="col-md-6">
                <div>
                  <button class="new-item" (click)="goToCondition()">
                    <i class="mdi mdi-eye"></i> View Condition
                  </button>
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">

                      <!--Champs Name-->
                      <div class="row">
                        <div class="col-md-6">
                          <h2 class="texte">Pick a Start Date</h2>
                          <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input  matInput [matDatepicker]="picker" formControlName="startDateCondition" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form['startDateCondition'].hasError('required')">
                              Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <h2 class="texte">Pick an End Date</h2>
                          <mat-form-field class="form-field" appearance="outline">
                            <mat-label>End Date</mat-label>
                            <input  matInput [matDatepicker]="picker1" formControlName="endDateCondition" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="form['endDateCondition'].hasError('required')">
                              Required
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <h2 class="texte">Lower Limit</h2>
                          <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Lower Limit </mat-label>
                            <input matInput type="number" formControlName="lowerLimitCondition" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <h2 class="texte">Upper Limit</h2>
                          <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Upper Limit </mat-label>
                            <input matInput type="number" formControlName="upperLimitCondition" />
                          </mat-form-field>
                        </div>
                      </div>
                </div>

                <div class="col-md-6">

                  <div class="row">
                    <div class="col-md-6">
                      <h2 class="texte">Contractual Flag</h2>
                      <span class="form-field" appearance="outline">
                        <mat-checkbox formControlName="contractualFlagCondition">Contractual</mat-checkbox>
                      </span>
                    </div>

                    <div class="col-md-6">
                      <h2 class="texte">Exception Flag</h2>
                      <span class="form-field" appearance="outline">
                        <mat-checkbox formControlName="exceptionFlagCondition">Exception</mat-checkbox>
                      </span>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-md-6">
                      <h2 class="texte">Breach Weight</h2>
                      <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Breach Weight </mat-label>
                        <mat-select formControlName="breachWeight" required>
                          <mat-option [value]="1">Major</mat-option>
                          <mat-option [value]="2">Moderate</mat-option>
                          <mat-option [value]="3">Minor</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6"></div>
                  </div>

                  <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6" formGroupName="financialData">

                      <!-- EBITDA-related input fields -->
                      <div *ngIf="selectedLineItem === 1">
                        <label for="netIncome">Net Income:</label>
                        <input type="number" formControlName="netIncome">
                        <label for="interest">Interest:</label>
                        <input type="number" formControlName="interest">
                        <label for="taxes">Taxes:</label>
                        <input type="number" formControlName="taxes">
                        <label for="depreciation">Depreciation:</label>
                        <input type="number" formControlName="depreciation">
                        <label for="amortization">Amortization:</label>
                        <input type="number" formControlName="amortization">
                      </div>
                      <!-- Equity Ratio-related input fields -->
                      <div *ngIf="selectedLineItem === 2" >
                        <label for="totalAssets">Total Assets:</label>
                        <input type="number" formControlName="totalAssets">
                        <label for="totalEquity">Total Equity:</label>
                        <input type="number" formControlName="totalEquity">
                      </div>
                      <!-- Debt Service Coverage Ratio-related input fields -->
                      <div *ngIf="selectedLineItem === 3" >
                        <label for="totalRevenues">Total Revenues:</label>
                        <input type="number" formControlName="totalRevenues">
                        <label for="operatingExpenses">Operating Expenses:</label>
                        <input type="number" formControlName="operatingExpenses">
                        <label for="depreciation">Depreciation:</label>
                        <input type="number" formControlName="depreciation">
                        <label for="totalDebtService">Total Debt Service:</label>
                        <input type="number" formControlName="totalDebtService">
                      </div>
                      <!-- Operating Cash Flow-related input fields -->
                      <div *ngIf="selectedLineItem === 4">
                        <label for="totalRevenues">Total Revenues:</label>
                        <input type="number" formControlName="totalRevenues">
                        <label for="operatingExpenses">Operating Expenses:</label>
                        <input type="number" formControlName="operatingExpenses">
                        <label for="taxes">Taxes:</label>
                        <input type="number" formControlName="taxes">
                      </div>
                      <!-- Current Ratio-related input fields -->
                      <div *ngIf="selectedLineItem === 5">
                        <label for="currentLiabilities">Current Liabilities:</label>
                        <input type="number" formControlName="currentLiabilities">
                        <label for="currentAssets">Current Assets:</label>
                        <input type="number" formControlName="currentAssets">
                      </div>
                      <!-- Gross Profit-related input fields -->
                      <div *ngIf="selectedLineItem === 6">
                        <label for="totalRevenues">Total Revenues:</label>
                        <input type="number" formControlName="totalRevenues">
                        <label for="grossProfit">Gross Profit:</label>
                        <input type="number" formControlName="grossProfit">
                      </div>
                      <!-- Debt To Equity Ratio-related input fields -->
                      <div *ngIf="selectedLineItem === 7">
                        <label for="totalEquity" class="texte">Total Equity:</label>
                        <input type="number" formControlName="totalEquity">
                        <label for="totalDebt">Total Debt:</label>
                        <input type="number" formControlName="totalDebt">
                      </div>
                      <!-- Interest Coverage Ratio-related input fields -->
                      <div *ngIf="selectedLineItem === 8">
                        <label for="netIncome">Net Income:</label>
                        <input type="number" formControlName="netIncome">
                        <label for="interest">Interest:</label>
                        <input type="number" formControlName="interest">
                        <label for="taxes">Taxes:</label>
                        <input type="number" formControlName="taxes">
                        <label for="depreciation">Depreciation:</label>
                        <input type="number" formControlName="depreciation">
                        <label for="amortization">Amortization:</label>
                        <input type="number" formControlName="amortization">
                        <label for="interestExpense">Interest Expense:</label>
                        <input type="number" formControlName="interestExpense">
                      </div>
                      <!-- Inventory Turnover-related input fields -->
                      <div *ngIf="selectedLineItem === 9">
                        <label for="averageInventory">Average Inventory:</label>
                        <input type="number" formControlName="averageInventory">
                        <label for="costOfGoodsSold">Cost Of Goods Sold:</label>
                        <input type="number" formControlName="costOfGoodsSold">
                      </div>

                    </div>
                    <div class="col-md-6"></div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                      <button  mat-raised-button color="primary" type="submit">Save</button>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
