<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile">
      <!-- User profile image -->
      <div class="profile-img"> <img src="../assets/images/users/profile.png" alt="user" />
        <!-- this is blinking heartbit-->
        <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
      </div>
      <!-- User profile text-->
      <div class="profile-text">
        <h5>End User</h5>
        <a (click)="logout()"  class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-small-cap">Covenants</li>
        <li> <a class="has-arrow waves-effect" routerLink="/covenant/list" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Consult</span></a>
        </li>
        <li> <a class="has-arrow waves-effect" routerLink="/covenant/create" aria-expanded="false"><i class="mdi mdi-plus"></i><span class="hide-menu">Create</span></a>
        </li>
        <li> <a class="has-arrow waves-effect" routerLink="/covenant/templates" aria-expanded="false"><i class="mdi mdi-file-document"></i>
          <span class="hide-menu">Templates</span></a>
        </li>

        <li class="nav-small-cap">Covenant Conditions</li>
        <li> <a class="has-arrow waves-effect" routerLink="/condition/covenantFilter" aria-expanded="false"><i class="mdi mdi-format-list-bulleted"></i><span class="hide-menu">Consult</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
