

.create-note {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 5px;
}

.note-editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

.save-button {
  display: block;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}


.example-container {
  text-align: center;
}

.form-container {
  width: 400 px;
  margin: 0 px auto;
  margin-top: 200 px;
}

.mat-form-field {
  margin-right: 8px;
}

.form-field {
  display: block;
}

.menu-title {
  display: inline-block;
  padding-right: 70%;
  padding-left: 2%;
  padding-top: 3%;
  font-weight: bold;
}

button {
  margin: 5px;
  margin-top: 20px;
}

.texte {
  color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}

.icon {
  vertical-align: middle;
}

.example-chip-list {
  width: 100%;
}
